<%= title "صفحه اصلی" %>
<section class="content">
    <div class="box-body" style="display: block;">
      <div class="">
        <div class="alert alert-info  alert-dismissable fade in text-center" role="alert">
          <span >به سامانه پایش درخواست ها خوش آمدید</span>
        </div>
      </div>
  </div>
</section>