<%= title "صفحه اصلی" %>
<section class="content">
    <div class="box-body" style="display: block;">
      <div class="">
        <div class="alert alert-info  alert-dismissable fade in text-center" role="alert">
          <span><b><%= current_user.f_name %> <%= current_user.l_name %></b> به سامانه <%= $APP_NAME %> خوش آمدید</span>

        </div>
      </div>
  </div>
</section>
