<% title "صفحه ورود" %>
<div class="login">
  <h1>صفحه ورود کارمندان</h1>
  <%= form_for(:session) do |f| %>

      <%= f.text_field :username,placeholder:"نام کاربری",required:true %>
      <%= f.password_field :password,placeholder:"رمز عبور",required:true %>

     <%= f.submit "ورود", class:"btn btn-primary btn-block btn-large" %>
  <%end%>
</div>
