<% title "صفحه ورود" %>
<% stylesheet "sessions" %>
<% javascript_end_page "sessions" %>
<% script "$(document).ready(function(){
    $('ul.tabs').tabs();
  });" %>
<div  class="row block-forms">
  <%= render partial: "sessions/student" %>
  
  <%= render partial: "sessions/employee" %>
  
</div>




