<section class="content">
  <section style="margin-bottom:4px">
    <%= link_to  new_feature_need_path,class:"btn btn-primary",remote:true do %>
        <span class="fa fa-plus" style="font-size: 20px"></span>
    <%end%>
  </section>

  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">پیش نیاز های <span style="color: #0d6aad"><%= Feature.find(params[:feature_id]).name if present? %></span></h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
      <div class="box-body" style="display: block;">
        <table class="table table-responsivee">
          <thead>
          <tr>
            <th>نام</th>
            <th>نوع</th>
            <th>عملیات</th>
          </tr>
          </thead>
          <tbody>
          <% @needs.each do |need| %>
            <%= render partial: "needs/need",locals: {need:need,feature:params[:feature_id]} %>
          <%end%>

          </tbody>
        </table>
      </div>
    </div>
  </section>
<div id="NeedForm" class="modal fade" role="dialog"></div>
