if ($("#NeedForm form").hasClass("edit_need")) {$("#NeedForm form").remove()}
else if ($("#NeedForm form").hasClass("new_need")) { $("#NeedForm").modal("show");}
else
{
  $("#NeedForm").prepend("<%= j render partial: "needs/form"%>");
  $("#NeedForm .modal-title").prepend("<span class='fa fa-plus-circle"+ "'> </span>",
      "<span id='title' style='color: #00a65a;padding-right: 3px'>ایجاد <span>پیش نیاز ماژول</span></span>");
  $("#NeedForm .modal-footer input[type=submit]").val("ایجاد").addClass("btn-success");
  $("#NeedForm form").addClass("new_need");
  $("#NeedForm").modal("show");
}