<% title "صفحه اصلی" %>
<%= script "$('.button-collapse').sideNav({edge: 'right'});" %>
<div class="row">
  <%# Feature.all.each do |features| %>
  <div class="col l4 m5 s12">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light teal lighten-1 activator features" style="height: 200px;">
        <h6 style="text-align: center;color: #ffffff">اشتغال به تحصیل</h6>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-3">
           <span class="right" style="font-size: 18px"> ارسال در خواست</span>
            <a class="btn-floating waves-effect waves-light red "><i class="material-icons">add</i></a>
        </span>
      </div>
      <div class="card-reveal" >
          <span class="card-title grey-text text-darken-4 ">
           <i class="material-icons right">close</i></span>
        <p>
        <form>
          <div class="input-field col l5" >
            <label class="" for="a" >نام پدر</label>
            <input type="text"  id="a">
          </div>
        </form>
        </p>
      </div>
    </div>
  </div>
  <%#end%>
</div>