
<h1>Statistics#index</h1>
<p>Find me in app/views/statistics/index.html.erb</p>
<div><%= area_chart Request.group_by_day(:created_at, time_zone: "Tehran", week_start: :sat, format: "%y %B %e").count,
                    xtitle: "زمان", ytitle: "تعداد", legend: "bottom", label: "تمام درخواست ها", download: "نمودار_درخواست_ها"  %></div>
