<table class="table table-striped table-bordered table-hover table-responsive" style="overflow-x: auto">
    <tr>
      <% request.needs.each do |need| %>
      <th><%= need.name %></th>
    </tr>
    <tr>
      <% request.result_students.each do |result| %>
      <td><%=
        if need.input_type==3
        result.value=='f' ?  "خیر" : "بله"
          else
            result.value
         end
      %></td>
      <%end%>
    </tr>
      <%end%>
</table>