<% title 'درخواست ها' %>
<% javascript "admin/datatables/jquery.dataTables.min" %>
<% javascript "admin/datatables/dataTables.bootstrap.min" %>
<% javascript "validator/validator.min" %>
<% javascript "requests" %>
<% stylesheet "admin/datatables/dataTables.bootstrap.min" %>
<% stylesheet "requests" %>
<% stylesheet "messages" %>
<% script "$(document).ready(function(){$('#requests').DataTable({'language':lng_persian});})"%>
<section class="content">
  <section style="margin-bottom:4px">

    <%= link_to  sessions_path,class:"btn btn-primary" do %>
        <span class="fa fa-chevron-left" style="font-size: 20px"></span>
    <%end%>

  </section>
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title" style="font-family: web_Yekan">درخواست دانشجو ها</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>

    <div class="box-body" style="overflow-x: auto">
      <div id="alert_respond"></div>

      <table id="requests" class="table table-striped table-bordered table-responsive table-hover" border="1">
        <thead>
        <tr>
          <th>نام</th>
          <th>نام خانوادگی</th>
          <th>کد دانشجویی</th>
          <th>رشته</th>
          <th>جزئییات</th>
          <th>نوع درخواست</th> <!-- madule -->
          <th>عملیات</th>
        </tr>
        </thead>
        <tbody class="table-responsive">
        <% @requests.each do |request| %>
            <%= render partial: "requests/request",locals:{request:request} %>
        <%end%>
        </tbody>
      </table>
    </div>
  </div>
</section>

<div id="DetailsRequest" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #00C0EF">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color: #ffffff;font-family: web_Yekan"> student name </h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">بستن</button>
      </div>
    </div>

  </div>
</div>



<div id="DeleteRequest" class="modal fade" role="dialog">
  
</div>
