<% title "چاپ درخواست ها" %>

<% script "$(document).ready(function(){ window.print();})" %>


  <% forms.each do |req| %>
    <% case req.feature.id %>
      <% when 1 %>
          <%= render partial: "forms/eshteghal",locals: {request:req} %>
              <div class="break"></div>
    <%end%>

  <%end%>
