<% title "چاپ درخواست ها" %>
<% stylesheet "forms"%>
<% script "$(document).ready(function(){ window.print();})" %>

<div id="print_form">
  <% forms.each do |req| %>
    <% case req.feature.id %>
      <% when 1 %>
          <%= render partial: "forms/eshteghal",locals: {request:req} %>
          <p style="page-break-after:always;"></p>
    <%end%>

  <%end%>
</div>
