<%= title "ماژول ها" %>
<% javascript "validator/validator.min" %>
<% script "$('#FeatureForm').validator();" %>

<section class="content">
  <section style="margin-bottom:4px">
    <%= link_to  new_feature_path,class:"btn btn-primary",remote:true do %>
        <span class="fa fa-plus" style="font-size: 20px"></span>
    <%end%>
  </section>

  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">ماژول ها</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>

    <div class="box-body" style="display: block;">
      <div id="alert_respond"></div>
      <table class="table table-responsive ">
        <thead>
        <tr>
          <th>ID</th>
          <th>نام</th>
          <th>نیازمندی برای متقاضی</th>
          <th>عملیات</th>
        </tr>
        </thead>
        <tbody>
        <% @features.each do |feature|  %>
          <%= render partial: "features/feature",locals: {feature:feature} %>
        <%end%>
        </tbody>
      </table>
      </div>
  </div>
</section>
<div id="FeatureForm" class="modal fade" role="dialog"></div>
