<%=form_for @place,remote:true,html:{"data-toggle":"validator",role:"form"} do |item| %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="font-family: web_Yekan">
            <!-- added by jquery -->
          </h4>
        </div>
        <div class="modal-body">
          <div class="form-group form-inline">
            <%= item.text_field :name,placeholder:"نام سمت",class:"form-control","data-error":"لطفاً فیلد نام را پر نمایید",required:true  %>
            <div class="help-block with-errors" style="display:inline"><span style="color:#F52559">*</span> اجباری</div>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag "ثبت",class:"btn  pull-right" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
        </div>
      </div>
    </div>
<%end%>