<div class="col-lg-2 inline place_<%=place.id%>">
  <div class="col-lg-12 btn btn-info" style="margin:3px">
    <i class="fa fa-user fa-5x"></i><br/>
    <%= place.name %>
    <div>
      <%= link_to edit_place_path(place),class: "btn btn-warning btn-sm",remote:true do  %>
          <span class="fa fa-pencil-square-o"></span>
      <%end%>
      <%= link_to place,class: "btn btn-danger btn-sm",method: :delete,data:{confirm:"مطمئن هستید که میخواهید پاک کنید ؟"},remote:true  do  %>
          <span class="fa fa-times"></span>
      <%end%>
  </div>
  </div>
</div>