if ($("#Placeform form").length==0)
{
  $("#Placeform").addClass("Place_form_edit");
  $("#Placeform").prepend("<%= j render partial:"places/form" %>");
  $("#Placeform .modal-title").prepend("<span class='fa fa-users'></span>",
      "<span id='title' style='color: #ffa049;padding-right: 3px'> ویرایش <span style='color: #333333' >سمت جدید</span></span>");
  $("#Placeform .modal-footer input[type=submit]").val("ویرایش").addClass("btn-warning");
  $("#Placeform").modal("show");
}
else if (!$("#Placeform form").hasClass("Place_form_edit"))
{
  $("#Placeform form").remove();
  $("#Placeform").addClass("Place_form_edit");
  $("#Placeform").prepend("<%= j render partial:"places/form" %>");
  $("#Placeform .modal-title").prepend("<span class='fa fa-users'></span>",
      "<span id='title' style='color: #ffa049;padding-right: 3px'>ویرایش <span style='color: #333333'>سمت جدید</span></span>");
  $("#Placeform .modal-footer input[type=submit]").val("ویرایش").addClass("btn-warning");
  $("#Placeform").modal("show");
}
else if ($("#Placeform").hasClass("Place_form_edit"))
  $("#Placeform").modal("show");
