<% title 'مدیریت کارمندان' %>
<% javascript "validator/validator.min" %>
<% #javascript "places" %>
<% script "$('#CreatePlace').validator();$('#EditPlace').validator();" %>
<% form_error(@place) %>


<section class="content">
  <section style="margin-bottom:4px">
    <%= link_to  new_place_path,class:"btn btn-primary",remote:true do %>
        <span class="fa fa-plus" style="font-size: 20px"></span>
    <%end%>
  </section>

  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">سمت</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
      <div class="box-body" style="display: block;">
        <div class="col-lg-12 placesbody">
        <% @places.each do |place| %>
        <%= render partial: "place",locals: {place:place} %>
        <%end%>
        </div>
      </div>
    </div>
</section>


<div id="Placeform" class="modal fade" role="dialog">
<!-- render form -->
</div>


