if ($("#Placeform form").length==0 )
{
  $("#Placeform").addClass("Place_form_new");
  $("#Placeform").prepend("<%= j render partial:"places/form" %>");
  $("#Placeform .modal-title").prepend("<span class='fa fa-users'> </span>",
      "<span id='title' style='color: #00a65a;padding-right: 3px'>ایجاد</span>");
  $("#Placeform .modal-footer input[type=submit]").val("ایجاد").addClass("btn-success");
  $("#Placeform").modal("show");
}
else if (!$("#Placeform form").hasClass("Place_form_new"))
{
  $("#Placeform form").remove();
  $("#Placeform").addClass("Place_form_new");
  $("#Placeform").prepend("<%= j render partial:"places/form" %>");
  $("#Placeform .modal-title").prepend("<span class='fa fa-users'> </span>",
      "<span id='title' style='color: #00a65a;padding-right: 3px'>ایجاد</span><span>سمت جدید</span>");
  $("#Placeform .modal-footer input[type=submit]").val("ایجاد").addClass("btn-success");
  $("#Placeform").modal("show");
}
else if ($("#Placeform").hasClass("Place_form_new"))
  $("#Placeform").modal("show");

