<% if flash.now[:success].present? && !flash.now[:success].nil? %>
    <div class="alert alert-success alert-dismissable fade in">
      <p><%=flash.now[:success] %></p>
    </div>
<%elsif flash.now[:danger].present? && !flash.now[:danger].nil? %>
    <div class="alert alert-danger alert-dismissable fade in">
      <p><%=flash.now[:danger] %></p>
    </div>
<%elsif flash.now[:warning].present? &&  !flash.now[:warning].nil? %>
    <div class="alert alert-warning alert-dismissable fade in">
      <p><%=flash.now[:warning] %></p>
    </div>
<%end%>