<% if flash[:success].present? && !flash[:success].nil? %>
    <div class="alert alert-success alert-dismissable fade in">
      <p><%=flash[:success] %></p>
    </div>
<%elsif flash[:danger].present? && !flash[:danger].nil? %>
    <div class="alert alert-danger alert-dismissable fade in">
      <p><%=flash[:danger] %></p>
    </div>
<%elsif flash[:warning].present? &&  !flash[:warning].nil? %>
    <div class="alert alert-warning alert-dismissable fade in">
      <p><%=flash[:warning] %></p>
    </div>
<%end%>